@font-face {
  font-family: 'SF Pro Display';
  src: url('{{ site.BaseURL }}/fonts/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('{{ site.BaseURL }}/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('{{ site.BaseURL }}/fonts/SF-Pro-Display-Bold.otf') format('opentype');
  font-weight: bold;
}
