{{ with .Site.Data.fasiDiLavoroSection }}
{{ if .enable }}
<section class="section resume" id="resume">
    <div class="resume__background"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-light text-center">
                    {{ .title | markdownify }}
                </div>
                <div class="tab-content ">
                    <div class="resume__education tab-pane active" id="{{.tab1Target}}">
                        {{ $Section := .education }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}

                    </div>

                    <div class="resume__education tab-pane" id="{{.tab2Target}}">
                        {{ $Section := .experience }}
                        {{ range $Section }}
                        <div class="resume__education_item">
                            <span class="pre-line text-primary"> {{ .time }} </span>
                            {{ .content | markdownify }}
                        </div>
                        {{ end }}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}