<section class="footer" id="contact">
	<div class="footer__background_shape">
		<svg viewBox="0 0 1920 79">
			<path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
		</svg>
	</div>
		<div class="row footer__widget">
			<div class="col-lg-4">
				<div class="footer__widget_logo mb-5 text-center">
					<img style="width: 100%; max-width: 150px;" src="{{ .Site.Params.footerLogo | absURL }}" alt="widget-logo">
				</div>
			</div>
			<div class="col-lg-4 ml-auto">
				<div class="text-light footer__widget_address mb-5">
					<h4 class="base-font">Contatti</h4>
					{{ $address := .Site.Params.address }}
					<ul class="fa-ul small">
						<li class="mb-2"><a class="text-light" href="tel:{{ $address.phone }}"><span class="fa-li"><i
										class="fa fa-phone"></i></span>{{ $address.phone }}</a></li>
						<li class="mb-2"><a class="text-light" href="mailto:{{ $address.email }}"><span class="fa-li"><i
										class="fa fa-envelope"></i></span>{{ $address.email }}</a></li>
						<li class="mb-2">
							<span class="fa-li"><i class="fa fa-map-marker"></i></span>{{ $address.address }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Params.map.APIkey }}&libraries=geometry"></script>
<script src="{{ "plugins/jQuery/jquery.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "plugins/slick/slick.min.js" | absURL }}"></script>
<script src="{{ "plugins/waypoint/jquery.waypoints.min.js" | absURL }}"></script>
<script src="{{ "plugins/magnafic-popup/jquery.magnific-popup.min.js" | absURL }}"></script>
<script src="{{ "plugins/tweenmax/TweenMax.min.js" | absURL }}"></script>
<script src="{{ "plugins/imagesloaded/imagesloaded.min.js" | absURL }}"></script>
<script src="{{ "plugins/masonry/masonry.min.js" | absURL }}"></script>
<!-- {{ $formhandler := resources.Get "js/form-handler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
