{{ with .Site.Data.teamSection }}
{{ if .enable }}
<section class="section testimonial">
    <div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450" />
        </svg>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center">
                {{ .title | markdownify }}
            </div>
        </div>
        <div class="row justify-content-center">
            {{ $section := .member }}
            {{ range $section }}
            <div class="col-md-6 col-xl-3 col-xxl-2">
                <div class="row justify-content-center my-4">
                    <div class="icon">
                        <img style="width: 100%; max-width: 100px; border-radius: 50%;" src="{{ .image }}" alt="Avatar"> 
                    </div>
                </div>
                <div class="text-center">
                    <h5>{{ .name }}</h5>
                    <p class="testimonial__slider_item-content"> {{ .comment | markdownify }} </p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}